.Button {
    align-items: center;
    background: #333;
    cursor: pointer;
    display: flex;
    font-size: 45px;
    height: 110px;
    justify-content: center;
    transition: filter 0.3s ease-in;
    border: 1px solid gray;
}

.Button:active,
.Button:focus {
    filter: brightness(120%);
}

.Button.zero {
    grid-column: 1 / span 2;
    position: relative;
    justify-content: space-around;
}

.Button.function {
    color: black;
    background: #a5a5a5;
}

.Button.operator {
    background: #f1a33c;
}