.App {
    background: black;
    color: white;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 0.1rem;
}

.display {
    font-size: 50px;
    font-weight: 300;
    text-align: right;
    margin-right: 1rem;
    padding: 2rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}